autopep8==2.0.4
colorama==0.4.6
dnspython==2.4.2
Jinja2==3.1.2
keyboard==0.13.5
numpy==1.26.1
pandas==2.1.2
pycodestyle==2.11.1
pymongo==4.6.0
python-dotenv==1.0.0
six==1.16.0
tzdata==2023.3
WMI==1.5.1
